<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>お問い合わせページ</title>
</head>
<body>
    <h2>都道府県を選択してください！！</h2>
    <form th:action="@{/contact}" method="get">
        <label for="prefecture">都道府県:</label>
        <select id="prefecture" name="prefecture">
            <option value="" disabled>選択してください</option>
            <option th:each="prefecture : ${prefectures}"
                    th:value="${prefecture.name()}"
                    th:text="${prefecture.getPrefectureName()}"
                    th:selected="${prefecture == selectedPrefecture}">
            </option>
        </select>
        <button type="submit">選択</button>
    </form>

    <div th:if="${selectedPrefecture != null}">
        <h3 th:text="'選択された都道府県: ' + ${selectedPrefecture.getPrefectureName()}"></h3>
        <h3 th:text="'県庁所在地: ' + ${capital}"></h3>
    </div>

    <!-- 現在時刻の表示 -->
    <h3 th:text="'現在時刻: ' + ${now}"></h3>
</body>
</html>
